.section {
  width: min(100% - 4rem, 1600px);
  margin-inline: auto;
}

.section h3 {
  padding-top: 0;
}

.cards {
  display: grid;
  gap: 3rem;
}
@media (min-width: 920px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.card h4 {
  font-size: 1.5rem;
  color: var(--color-purple);
}
.card h4::after {
  display: block;
  content: "";
  height: 3px;
  width: 160px;
  background-color: var(--color-purple);
  margin-bottom: 1rem;
}

.card-list {
  --devicon-size: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.6rem;
}
.card-list li {
  display: grid;
  gap: 0.3rem;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 0.9rem;
  padding: 0.6rem;
  background-color: var(--color-light-grey);
  border: 2px solid var(--color-grey);
  border-radius: var(--rounded-radius);
  transition: 0.5s ease-in-out;
}
.card-list li:hover {
  color: var(--color-purple);
  background-color: var(--color-white);
  border-color: var(--color-purple);
}
.devicon {
  width: var(--devicon-size);
  height: var(--devicon-size);
}
