:root {
  --font-base: "Lato", sans-serif;
  --color-white: #fefefe;
  --color-light-grey: #ebebeb;
  --color-grey: #b9b9b9;
  --color-pink: #e972ae;
  --color-purple: #8c52ff;
  --color-dark-grey: #272725;
  --color-black: #151513;

  --section-spacing: 5rem;
  --section-content-width: min(100% - 3rem, 1600px);
  --rounded-radius: 0.6rem;
}

body {
  overflow-x: hidden;
  position: relative;

  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-black);
  background-color: var(--white);
}

.header-title {
  text-align: center;
  font-size: 2.4rem;
  padding-bottom: 2rem;
}
