:root {
  --font-base: "Lato", sans-serif;
  --color-white: #fefefe;
  --color-light-grey: #ebebeb;
  --color-grey: #b9b9b9;
  --color-purple: #8c52ff;
  --color-black: #151513;

  --section-spacing: 5rem;
  --rounded-radius: 0.6rem;
}

body {
  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-black);
  background-color: var(--white);
}

.header-title {
  text-align: center;
  font-size: 2.4rem;
  padding-block: 2rem;
}

.box {
  -webkit-box-shadow: 0px 0px 15px 4px var(--color-grey);
  -moz-box-shadow: 0px 0px 15px 4px var(--color-grey);
  box-shadow: 0px 0px 15px 4px var(--color-grey);
}
