:root {
  --font-base: "Lato", sans-serif;
  ---color-white: #fefefe;
  --color-light-grey: rgb(233, 226, 233);
  --color-purple: #8c52ff;
  --color-black: #151513;
}

body {
  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  background-color: var(--white);
}
